[submodule "Solar/dependence/imgui"]
	path = Solar/dependence/imgui
	url = https://github.com/ocornut/imgui
[submodule "Solar/dependence/spdlog"]
	path = Solar/dependence/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Solar/dependence/glfw"]
	path = Solar/dependence/glfw
	url = https://github.com/glfw/glfw
[submodule "Solar/dependence/glm"]
	path = Solar/dependence/glm
	url = https://github.com/g-truc/glm
[submodule "Solar/dependence/stb"]
	path = Solar/dependence/stb
	url = https://github.com/nothings/stb
[submodule "Solar/dependence/yaml-cpp"]
	path = Solar/dependence/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
