[submodule "Solar/ThirdParty/spdlog"]
	path = Solar/ThirdParty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Solar/ThirdParty/GLFW"]
	path = Solar/ThirdParty/GLFW
	url = https://github.com/Sylar129/glfw
[submodule "Solar/ThirdParty/imgui"]
	path = Solar/ThirdParty/imgui
	url = https://github.com/Sylar129/imgui
