[submodule "Solar/dependence/imgui"]
	path = Solar/dependence/imgui
	url = https://github.com/ocornut/imgui
[submodule "Solar/dependence/spdlog"]
	path = Solar/dependence/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Solar/dependence/glfw"]
	path = Solar/dependence/glfw
	url = https://github.com/glfw/glfw
